 we wanna create a Web app that allows us to both configure and share/play a crossword puzzle. It would be great to be able to store users scores long-term at this point, but we need to keep track of the crossword squares and solutions and answer questions in a database. It should be adjustable for a grid sizes from 5 by 5 up to 25 x 25. If possible, we'd like to be able to upload the puzzle itself either from a .puz file. Apparently, there's also a New York Times puzzle submission format could be amazing if we could have an export/import that file type as well. We'd also prefer to use the same hot key controls that The New York Times web app uses for consistency sake
